#nameInputDiv
{
    background-image: url(wallpaper.png);
    background-size:cover;
    position:absolute;
    height:100%;
    width:100%;
}

#nameInputFieldDiv
{
    position:relative;
    top:20%;
}



#nameInputField
{
    position:relative;
    height:100%;
    background-color:white;
    
}


#nameInputBtn
{
    position:relative;
    top:30%;
    height:6%;
}


